.topnav {
    background-color: #e41e26;
    position: absolute;
    top: 0;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
}

.maincenter {
    margin: auto;
    width: 50%;
    height: 100%;
    top: 50%;
    transform: translate(0%, 15%);
}